<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
      <h2>Ruby on rails スケジュール管理アプリ</h2> 
    </header>
     
    <%= yield %>
    <footer>
      <h2>今日の日時：<%= Date.today %> </h2>
</P>

    </footer>
  </body>
</html>
